.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
.InputContainer {
  flex-direction: column;
  align-items: center;
}

.UIContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}

.TextField {
  display: flex;
  width: 480px;
  height: 145px;
  flex-direction: column;
  align-items: flex-start;
}

.Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
