/* App.css */

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
